@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');

.App {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #0088cc;
  overflow: hidden;
}

.logo-header {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 175px;
  width: 100%;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.05);
}

.logo-container {
  text-align: center;
  background-color: white;
}

.logo {
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
  background-color: white;
}

.dashboard-container {
  flex: 1;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;

}

.summary-card,
.order-list-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}

table {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

.status-label {
  font-weight: 500;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.details-button {
  background-color: #0088cc;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.details-button:hover {
  background-color: #006699;
}

/* Summary section styling */
.summary-card p {
  margin: 10px 0;
  font-size: 1em;
  color: #333;
}


@media (max-width: 768px) {
  .logo-header {
    max-width: 120px;
  }

  .dashboard-container {
    margin-left: 20px;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
  }

  table{
    font-size: 0.9em;
    display: block;
  }
}